#Raspagem Imoveis Mercadolivre

In [8]:
import requests
from bs4 import BeautifulSoup
import re
import numpy as np
import pandas as pd

url = 'https://imoveis.mercadolivre.com.br/aluguel/sao-paulo/sao-paulo-zona-sul/'
conteudo = requests.get(url).content 
soup = BeautifulSoup(conteudo)

In [9]:
#coletando preço dos itens
soup.find('span', class_='price__fraction').text
soup_price = soup.find_all('span', class_='price__fraction')
list_price = []
for price in soup_price:
    list_price.append(price.text)

#coletando atributos dos itens
soup.find('div', class_='item__attrs').text
soup_attr = soup.find_all('div', class_='item__attrs')
list_attr = []
for attr in soup_attr:
    list_attr.append(attr.text)

In [10]:
#retirando apenas o tamanho do imovel
lista_areas = []
lista_quarto = []

for elemento in list_attr:
  re_area = ' (.*) m²'
  area = re.findall(re_area, str(elemento))
  if area==[]:
    area = np.nan
    lista_areas.append(area)
  else:
    lista_areas.append(area[0])

In [11]:
#retirando apenas a quantidade de quartos do imovel
for elemento in list_attr:
  re_quarto = '\| (.*) quarto'
  quarto = re.findall(re_quarto, str(elemento))
  if quarto==[]:
    quarto = np.nan
    lista_quarto.append(quarto)
  else:
    lista_quarto.append(quarto[0])

In [12]:
#transformando listas em dicionario
dados = {
          'preço': list_price,
          'area': lista_areas,
          'quarto': lista_quarto
        }

In [13]:
#transforma em dataframe
df = pd.DataFrame(dados)

#transforma em csv
#df.to_csv('dados_mercadolivre.csv')

In [14]:
df.head()

   preço area quarto
0  2.500   42      1
1  1.970   33      1
2  1.250   60      1
3  1.500   36      1
4  1.550   60      1